.logoPdf {
  font-size: 200px;
  transition: .5s;
}

.logoPdf:hover {
  font-size: 220px;
}

.logoFormatos {
  font-size: 150px;
  transition: .5s;
}

.logoFormatos:hover {
  /* font-size: 170px; */
  color: var(--color-secundario);
}

