:root{
    --color-primario: #683f72;
    --color-secundario: #eaba37;;
    --color-ternario: #a9c030;
    --color-cuaternario: #9f9f9f;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

/* .colorForma {
    background-color: var(--color-forma);
} */

.colorHeader {
    background-color: var(--color-primario);
}

.color1{color: var(--color-primario);}
.color2{color: var(--color-secundario);}
.color3{color: var(--color-ternario);}

.bg1{background-color: var(--color-primario);}
.bg2{background-color: var(--color-secundario);}
.bg3{background-color: var(--color-ternario);}
.bg4{background-color: var(--color-cuaternario);}

.tablaNoWrap {
  overflow-x: auto;
  white-space: nowrap;
}

.bg-forma {
  background-color: #9f9f9f;
}

.main_contenedor {
  display: flex;
  height: calc(100vh - 50px);
}

.main_contenedor > div:nth-child(1){
  flex: 0 0 250px;
  /* border: 1px solid gray; */
  background-color: var(--color-ternario);
  position: relative;
  /* transition: 1s; */
}

.main_contenedor > div:nth-child(1) i{
  color: white;
  font-size: 25px;
}

.main_contenedor > div:nth-child(2){
  flex: 1;
  overflow-y: auto;
  position: relative;
  background-color: #fcfcfc;
}

.panel-menu-item {
  background-color: var(--color-ternario);
  /* color: var(--color-primario); */
  color: white;
  font-weight: bold;
}

.panel-menu-subitem {
  background-color: var(--color-secundario);
}

.panel-menu-subitem a {
  color: var(--color-primario);
  display: block;
  padding: 0 5px 0;
  width: 100%;
  border-radius: 5px;
}

.panel-menu-subitem a:hover {
  background-color: var(--color-cuaternario);
  color: white;
}

.accordion-button:not(.collapsed) {
  background-color: var(--color-ternario);
  color: var(--color-primario);
  box-shadow: inset 0 calc(-1 * var(--bs-accordion-border-width)) 0 var(--bs-accordion-border-color);
}

.icono-enlace .bi {
  font-size: 1.5rem;
}

.icono-enlace .bi-check {
  color: #19d819;
}

.icono-enlace .bi-x {
  color: red;
}

.mensaje_error {
  color: red;
}

.textOverflowTd {
  max-width: 200px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* @media only screen and (max-width: 992px) {

  .main_contenedor > div:nth-child(1){
    display: none;
  }
} */